<!DOCTYPE html>
<html>
  <head>
    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/custom-stylesheet.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/simple-sidebar.css">
    <link rel="stylesheet" type="text/css" href="https://fonts.googleapis.com/icon?family=Material+Icons">
    <script src="http://code.jquery.com/jquery-3.2.1.min.js" crossorigin="anonymous"></script>
    <script type="text/javascript" src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.12.5/umd/popper-utils.min.js"></script>
    <!-- Data Tables-->
    <link rel="stylesheet" type="text/css" href="http://cdn.datatables.net/1.10.16/css/jquery.dataTables.css">
    <script type="text/javascript" charset="utf8" src="http://cdn.datatables.net/1.10.16/js/jquery.dataTables.js"></script>
    <script src="javascripts/all-users.js"></script>
    <title>DBVC - Saved User</title>
  </head>
  <body>
    <div id="navbar">
      <script>$("#navbar").load("navbar");</script>
    </div>
    <div id="sidebar">
        <script>$("#sidebar").load("sidebar");</script>
    </div>
    <div class="container">
      
    <div class="alert alert-dismissible alert-success"><button type="button" class="close" data-dismiss="alert">×</button><strong><p>Done...!</p></strong> <p>User created</p></div>  
  
    
    </div>
  </body>
</html>