<div class="panel panel-primary">
  <div class="panel-heading">
    <h3 class="panel-title"> <i class="material-icons">menu &nbsp; </i>Main menu</h3>
  </div>
  <div class="panel-body">
   <p> <a href="git-status" style="color: #000000;"><i class="material-icons">youtube_searched_for &nbsp; </i> Git Status</a></p>
   <p> <a href="git-pull" style="color: #000000;"><i class="material-icons">cloud_download &nbsp; </i> Pull Code</a></p>
   <p> <a href="git-commit" style="color: #000000;"><i class="material-icons">done_all &nbsp; </i> Commit changes </a></p>
   <p> <a href="git-push" style="color: #000000;"><i class="material-icons">cloud_upload &nbsp; </i> Push Code</a></p></p>
   <p> <a href="apply-files" style="color: #000000;"><i class="material-icons">announcement &nbsp; </i> Apply Files</a></p>
   <p id="sync-button"> <a href="#" style="color: #000000;"><i class="material-icons">description &nbsp; </i> Generate Files</a></p>
   <p> <a href="revisions" style="color: #000000;"><i class="material-icons">extension &nbsp; </i> Revisions(beta) </a></p>
     
   <li class="dropdown" style="list-style:none;">
    <a style="color: #000000;" class="dropdown-toggle" data-toggle="dropdown" href="bootstrap-elements.html" data-target="#">
      <i class="material-icons">compare_arrows &nbsp; </i> Compare <span class="caret"></span>
    </a>
    <ul class="dropdown-menu">
      <li><a href="compare-with-dev"> <i class="material-icons">code &nbsp; </i> with development</a></li>
      <li class="divider"></li>     
      <li><a href="compare-with-master"> <i class="material-icons">code &nbsp; </i> with master</a></li>
    </ul>
  </li>
  </div>
</div>

