doctype html
html
  head
    link(rel='stylesheet', href='https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css')
    link(rel='stylesheet', type='text/css', href='stylesheets/login.css')
    script(src='http://code.jquery.com/jquery-3.2.1.min.js', crossorigin='anonymous')
    title My Web Page
  body
    .container
      #login
        .panel.panel-default
          .panel-heading User Log In
          .panel-body
            form(action='/login', method='post')
              .form-group
                label(for='email') Email
                input#email.form-control(type='email', name='username', required='')
              .form-group
                label(for='pwd') Password:
                input#pwd.form-control(type='password', name='password', required='')
              .checkbox
                label
                  input(type='checkbox')
                  |  Remember me
              button.btn.btn-default(type='submit') Submit
