.navbar.navbar-default
  .container-fluid
    .navbar-header
      a#navbar-title.navbar-brand(href='javascript:void(0)') DB Version Control
    .navbar-collapse.collapse.navbar-responsive-collapse
      ul.nav.navbar-nav
        li
          a(href='index.html')
            i.material-icons home   
            | Home
        li.dropdown
          a.dropdown-toggle(data-toggle='dropdown', href='bootstrap-elements.html', data-target='#')
            i.material-icons storage   
            |  Database 
            span.caret
          ul#db-selector.dropdown-menu
        li
          a(href='settings.html')
            i.material-icons settings   
            | Settings
      ul.nav.navbar-nav.navbar-right
        li#navbar-user-name.disabled
        li.disabled
          a
            i.material-icons highlight_off   
            | Log Out
