* {
	box-sizing: border-box;
}

body {
	background-color: #273E47;
}

.container {
	margin: auto;
	width: 700px;
	
	text-align: center;

}

#login {

	width: 50%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 30%;
}

#login-title {
	color: #D8C99B;
	font-family: 'Open Sans Condensed';
}